
@media (max-width: 550px) {
    .right-section {
      display: none; 
      
    }
  
    .left-section {
      width: 100%; 
    }
  
    
    .right-section.show {
      display: block;
      width: 70%; 
    }
  
    .left-section.hide {
      display: none;
    }
  }
  